name: GitHub Actions workflow

on:
  push:
    branches:
      - main

jobs:
  build_main:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.15.0'

    - name: Cache node modules
      uses: actions/cache@v3
      with:
        path: node_modules
        key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-modules-

    - name: Install dependencies
      run: npm install
    
    - name: Build the CMS
      run: npm run build
    
    - name: Upload main build
      uses: actions/upload-artifact@v3
      with:
        name: main-build
        path: ./build

  deploy:
    name: Deploy
    needs: build_main
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download build artifact
      uses: actions/download-artifact@v3
      with:
        name: main-build
        path: ./build
    - name: Deploying on GitHub runner
      run: |
        deployfilename=$(ls build)
        echo "Deploying $deployfilename to the github runner"
        mkdir -p $GITHUB_WORKSPACE/deployed
        cp build/$deployfilename $GITHUB_WORKSPACE/deployed/
        echo "Deployed file location: $GITHUB_WORKSPACE/deployed/$deployfilename"
